.centered{
  display: flex;
  align-items:center;
  justify-content: space-around;
}
.buttons{
  display: flex;
  align-items:center;
  justify-content: space-around;
}
.btn{
  width: 200px;
  margin-bottom: 10px;
}
div{
  margin-bottom: 10px;
}

